body {
    margin: 0;
    padding: 0;
    background-color: rgb(7, 58, 58);
    color :aliceblue;
    display : flex;
    align-items: center;
    flex-direction: column;
    width : 100vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    width: 95%;
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}
.sharing-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(28, 114, 114);
}
.sharing-button svg{
    margin-left: 12px;
    margin-top: 12px;
}
.container{
    width: 91%;
    max-width: 700px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tiles{
    width: 100%; 
    background-color: rgb(14, 82, 82);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}
.tiles:hover{
    transform: scale(1.03);
}
.tile-share {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(28, 114, 114);
}
.tile-share svg {
    margin-left: 12px;
    margin-top: 12px;
}
a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: rgb(255, 255, 255);
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.image-container{
    height: 196px;   
    width: 196px;
    border-radius: 98px;
    overflow: hidden;
}
.image-container img {
    height: 100%;
}
.icon{
    width: 45px;
    height: 45px;
    margin: 4px 8px;

}
